<!DOCTYPE html>
<html>
<head>
  <title>UploaderMongo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

 <div id="version">Version: <%= require 'version'; Version.current %></div>

</body>
</html>
